<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Adopt a Puppy!</title
  </head>
  <body>
    <h1> Welcome to the puppy adoption site!</h1>
    <h2><a href="/new">List A Puppy</a></h2>
  </body>
</html>
